body{
    margin:0px;
}
  span{
      color:tomato;
  }  
h2{
    color:#636e72;
    font-size:30px;
}
.width{
    width:50%;
    margin-bottom: 5%;
    margin-left :15%;
    border-right: 15px;
    
}
.flex{
display: flex;
width:50% 50%;
margin-top:3%;
margin-left:5%;
padding:40px;
background-image: url(image/Frame\ 57.jpg);
background-repeat: no-repeat;
background-size: 100%;
}
h1{
    font-weight: 700;
    font-style: italic;
    font-size: 100px;
}
.bi{
    text-decoration: none;
    background-image: linear-gradient(rgb(54, 124, 115),rgb(216, 230, 226));
   padding:3% 4%;
   border-radius: 40px;
   font-size: 30px;
   color:rgb(211, 26, 13);
}
.flex-con{
    display: flex;
    background-image: url(image/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.border{
    margin-right: 10%;
}
.h1-size{
    font-size: 70px;
    text-align:"right";
}
#text-align{
    text-align: center;
}
.new-display{
    display: flex;
    width: 15% 15% 15%;
    padding: 3%;
}