body{
    margin:0px;
}
  .new-section{
     background-color: aqua;
      display: flex;
      width: 60% 40%;
      margin:0px;
    

     
  }

.adjust{
  width: 40% 40%;
  border-image-slice: 0%;
  margin-top: 3%;
  margin-left:5% ;
  padding: 40px;
 
  
  

}

  span{
      color:tomato;
  }  
h2{
    color:#636e72;
    font-size:30px;
}
.width{
    width:50%;
    margin-bottom: 5%;
    margin-left :15%;
    border-right: 15px;
    
}
.flex{
display: flex;
width:50% 50%;
margin-top:3%;
margin-left:5%;
padding:40px;
background-image: url(image/Frame\ 57.jpg);
background-repeat: no-repeat;
background-size: 100%; 
margin: 0;
}
h1{
    font-weight: 700;
    font-style: italic;
    font-size: 70px;
}
.bi{
    text-decoration: none;
    background-image: linear-gradient(rgb(54, 124, 115),rgb(216, 230, 226));
   padding:3% 4%;
   border-radius: 40px;
   font-size: 30px;
   color:rgb(211, 26, 13);
}
.flex-con{
    display: flex;
    background-image: url(image/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


.h1-size{
    font-size: 50px;
    text-align:"centre";
}



.food-contant{
	display: flex;
	justify-content: space-between;
}


.food-area{
	width: 30%;
	background: #ffffff;
	border-radius: 25px;
	box-shadow: 5px 5px 5px #ced6e0;
}
.container{
	padding: 10px;
}

.food-img img{
	width: 100%;
	border-radius: 25px;
}
.food-title h2{
	font-family: 'Roboto', sans-serif;
}
.food-title p{
	font-family: 'Roboto', sans-serif;
}
.conclusion{
    text-align: center;
   background-color: #010408;
}
#text-color{
    color: #000405;
    @import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap'
    font-family: 'Otomanopee One', sans-serif;
}


